@import url('https://fonts.googleapis.com/css2?family=Charm:wght@700&display=swap');

app-bar a.navbar-brand {
    font-family: 'Charm', sans-serif;
}

meal-item div.card {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    cursor: pointer;
    -webkit-transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    -moz-transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    -ms-transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
    -o-transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

meal-item div.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    opacity: 0.95;
}

meal-detail-modal img:hover {
    opacity: 0.9;
}

meal-detail-modal .modal-header {
    background: #FF8377;
    color: #FFF;
}

svg.loader {
    transform: scaleX(-0.3) scaleY(-0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    -webkit-transform: scaleX(-0.3) scaleY(-0.3);
    -moz-transform: scaleX(-0.3) scaleY(-0.3);
    -ms-transform: scaleX(-0.3) scaleY(-0.3);
    -o-transform: scaleX(-0.3) scaleY(-0.3);
}

.on-loading {
    opacity: 0.85;
}

table tr th {
    background: #FF8377 !important;
    color: #FFF !important;
}

@media only screen and (max-width: 575px) {
    app-bar form {
        display: flex !important;
    }
}